In [2]:
import pandas as pd
import zipfile
import requests
from io import BytesIO
import os

a = "https://www.herault-data.fr/api/explore/v2.1/catalog/datasets/historique-pop-communes-herault/exports/csv?where=annee%20in(%20%222014%22%2C%222015%22%2C%20%222016%22%2C%222017%22%2C%222018%22%2C%222019%22%2C%20%222020%22)"

In [3]:
url_popu = "https://www.herault-data.fr/api/explore/v2.1/catalog/datasets/historique-pop-communes-herault/exports/csv?lang=fr&timezone=Europe%2FBerlin&use_labels=true&delimiter=%3B" 
df_popu = pd.read_csv(url_popu, sep=';')

In [28]:
df_popu_filtered = df_popu[df_popu['annee'].between(2015, 2020)]

In [37]:
df_popu_selected = df_popu_filtered[['Code géographique', 'annee', 'population']]
df_popu_selected

       Code géographique  annee  population
8                  34091   2019          56
9                  34091   2016          54
16                 34092   2019         967
17                 34092   2018         977
21                 34093   2020         147
...                  ...    ...         ...
11609              34343   2019        1228
11610              34343   2017        1211
11611              34343   2015        1185
11621              34344   2019        8696
11622              34344   2015        8755

[2052 rows x 3 columns]

In [38]:
df_popu_selected.rename(columns={'Code géographique': 'code_postal'}, inplace=True)

C:\Users\yutin\AppData\Local\Temp\ipykernel_7940\2024449775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_popu_selected.rename(columns={'Code géographique': 'code_postal'}, inplace=True)

In [39]:
df_popu_selected.rename(columns={'annee': 'year'}, inplace=True)

C:\Users\yutin\AppData\Local\Temp\ipykernel_7940\3813778315.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_popu_selected.rename(columns={'annee': 'year'}, inplace=True)

In [40]:
df_popu_selected

       code_postal  year  population
8            34091  2019          56
9            34091  2016          54
16           34092  2019         967
17           34092  2018         977
21           34093  2020         147
...            ...   ...         ...
11609        34343  2019        1228
11610        34343  2017        1211
11611        34343  2015        1185
11621        34344  2019        8696
11622        34344  2015        8755

[2052 rows x 3 columns]

In [41]:
df_popu_selected.dtypes

code_postal    int64
year           int64
population     int64
dtype: object

In [42]:
df_popu_selected['year'] = df_popu_selected['year'] + 5

C:\Users\yutin\AppData\Local\Temp\ipykernel_7940\1789879234.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_popu_selected['year'] = df_popu_selected['year'] + 5

In [43]:
df_popu_selected

       code_postal  year  population
8            34091  2024          56
9            34091  2021          54
16           34092  2024         967
17           34092  2023         977
21           34093  2025         147
...            ...   ...         ...
11609        34343  2024        1228
11610        34343  2022        1211
11611        34343  2020        1185
11621        34344  2024        8696
11622        34344  2020        8755

[2052 rows x 3 columns]

In [44]:
df_popu_selected.to_csv("herault_population_2019_2024.csv", index=False)