In [3]:
import pandas as pd
import zipfile
import requests
from io import BytesIO
import os

In [5]:


# Notice descriptive des datasets:
# https://www.data.gouv.fr/fr/datasets/r/d573456c-76eb-4276-b91c-e6b9c89d6656 (fichier pdf)

# URL of the CSV file inside a ZIP archive
url = "https://static.data.gouv.fr/resources/demandes-de-valeurs-foncieres/20241008-071041/valeursfoncieres-2023.txt.zip"
url = "https://www.data.gouv.fr/fr/datasets/r/dd516f7a-91bb-4cad-a63c-4b55cd457f4c"

# Directory and file paths
data_dir = "data"
csv_output_path = os.path.join(data_dir, "valeursfoncieres-2023.csv")
cleaned_csv_path = os.path.join(data_dir, "valeursfoncieres-2023-cleaned.csv")

# Create the data directory if it doesn't exist
os.makedirs(data_dir, exist_ok=True)

# Download the ZIP file
response = requests.get(url)
response.raise_for_status()  # Raise an exception for HTTP errors

# Unzip the file
with zipfile.ZipFile(BytesIO(response.content)) as z:
    
    #csv_filename = z.namelist()[0]
    #with z.open(csv_filename) as csv_file:
    #        # Save the CSV file to the data folder
    #        with open(csv_output_path, "wb") as output_file:
    #            output_file.write(csv_file.read())
    
    # Assuming the ZIP contains one file, extract and read it
    csv_filename = z.namelist()[0]
    with z.open(csv_filename) as csv_file:
        df = pd.read_csv(csv_file, sep='|', low_memory=False)  # Assuming '|' is the delimiter
        #df = df[df['Commune'] == 'Montpellier']
        df.dropna(axis=1, how='all', inplace=True)

# Show the first few rows of the DataFrame
df

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,1,05/01/2023,Vente,"1070000,00",184.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
1,1,05/01/2023,Vente,"1070000,00",159.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,NaN,1,2.0,Appartement,233.0,8.0,NaN,NaN,NaN
2,1,05/01/2023,Vente,"1070000,00",159.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
3,1,03/01/2023,Vente,"152200,00",2914.0,NaN,RTE,0107,DE PONCIN,1450.0,...,NaN,NaN,0,1.0,Maison,64.0,3.0,S,NaN,988.0
4,1,05/01/2023,Vente,"269000,00",427.0,T,CHE,0040,DE L'AUBEPIN,1800.0,...,NaN,NaN,0,1.0,Maison,73.0,3.0,S,NaN,835.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3799402,1,05/10/2023,Adjudication,"9000000,00",118.0,NaN,RUE,0499,D ASSAS,75006.0,...,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,NaN,365.0
3799403,1,05/10/2023,Adjudication,"9000000,00",118.0,NaN,RUE,0499,D ASSAS,75006.0,...,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,NaN,365.0
3799404,1,25/09/2023,Vente,"80000,00",6.0,NaN,BD,8208,RICHARD LENOIR,75011.0,...,NaN,NaN,2,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
3799405,1,25/09/2023,Vente,"80000,00",6.0,NaN,BD,8208,RICHARD LENOIR,75011.0,...,NaN,NaN,2,2.0,Appartement,10.0,1.0,NaN,NaN,NaN
3799406,1,30/11/2023,Adjudication,"328000,00",62.0,NaN,BD,4649,DE L HOPITAL,75013.0,...,NaN,NaN,3,4.0,Local industriel. commercial ou assimilé,70.0,0.0,NaN,NaN,NaN

In [6]:
print("Columns in the DataFrame:")
print(df.columns)

Columns in the DataFrame:
Index(['No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [7]:
df.shape[0]

3799407

In [8]:
df.dtypes

No disposition                  int64
Date mutation                  object
Nature mutation                object
Valeur fonciere                object
No voie                       float64
B/T/Q                          object
Type de voie                   object
Code voie                      object
Voie                           object
Code postal                   float64
Commune                        object
Code departement               object
Code commune                    int64
Prefixe de section            float64
Section                        object
No plan                         int64
No Volume                      object
1er lot                        object
Surface Carrez du 1er lot      object
2eme lot                       object
Surface Carrez du 2eme lot     object
3eme lot                       object
Surface Carrez du 3eme lot     object
4eme lot                      float64
Surface Carrez du 4eme lot     object
5eme lot                       object
Surface Carrez du 5eme lot     object
Nombre de lots                  int64
Code type local               float64
Type local                     object
Surface reelle bati           float64
Nombre pieces principales     float64
Nature culture                 object
Nature culture speciale        object
Surface terrain               float64
dtype: object

In [9]:
# change float to int for code postal
df = df.dropna(subset=['Code postal'])
df['Code postal'] = df['Code postal'].astype(str)

C:\Users\yutin\AppData\Local\Temp\ipykernel_13548\3363316655.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Code postal'] = df['Code postal'].astype(str)

# List of postal codes for Montpellier Méditerranée Métropole
codes_postaux_metropole = [
    "34670", "34130", "34160", "34170", "34830", "34660",
    "34690", "34790", "34990", "34970", "34920", "34980",
    "34000", "34070", "34080", "34090", "34570", "34470",
    "34730", "34680", "34430", "30440", "34740"
]

In [10]:
# List of postal codes for Montpellier Méditerranée Métropole
codes_postaux_metropole = [
    "34670", "34130", "34160", "34170", "34830", "34660",
    "34690", "34790", "34990", "34970", "34920", "34980",
    "34000", "34070", "34080", "34090", "34570", "34470",
    "34730", "34680", "34430", "30440", "34740"
]

# isin() pour filtrage 
code_mask = df['Code postal'].isin(codes_postaux_metropole)
df_metropoleMP =df[code_mask]

In [11]:
df_metropoleMP.head()

Empty DataFrame
Columns: [No disposition, Date mutation, Nature mutation, Valeur fonciere, No voie, B/T/Q, Type de voie, Code voie, Voie, Code postal, Commune, Code departement, Code commune, Prefixe de section, Section, No plan, No Volume, 1er lot, Surface Carrez du 1er lot, 2eme lot, Surface Carrez du 2eme lot, 3eme lot, Surface Carrez du 3eme lot, 4eme lot, Surface Carrez du 4eme lot, 5eme lot, Surface Carrez du 5eme lot, Nombre de lots, Code type local, Type local, Surface reelle bati, Nombre pieces principales, Nature culture, Nature culture speciale, Surface terrain]
Index: []

[0 rows x 35 columns]

In [12]:
df_metropoleMP.shape[0]

0

In [13]:
df_metropoleMP['Date mutation']= pd.to_datetime(df_metropoleMP['Date mutation'], format='%d/%m/%Y', errors='coerce')

# filtre year 
df_metropoleMP['year'] = df_metropoleMP['Date mutation'].dt.year

# min et max year 
df_metropoleMP['year'].min(), df_metropoleMP['year'].max()

(nan, nan)

In [14]:
# List of postal codes for Montpellier Méditerranée Métropole
codes_postaux_metropole = [
    "34670", "34130", "34160", "34170", "34830", "34660",
    "34690", "34790", "34990", "34970", "34920", "34980",
    "34000", "34070", "34080", "34090", "34570", "34470",
    "34730", "34680", "34430", "30440", "34740"
]

In [15]:
url0 = "https://www.data.gouv.fr/fr/datasets/r/1dc47de2-b30a-4497-b9ef-448d054b5a4f" # 2024 (seulement Q1)
url1 = "https://www.data.gouv.fr/fr/datasets/r/dd516f7a-91bb-4cad-a63c-4b55cd457f4c" # 2023
url2 = "https://www.data.gouv.fr/fr/datasets/r/91fd9f09-fe6f-4ab2-9803-84a626e1faa6" # 2022
url3 = "https://www.data.gouv.fr/fr/datasets/r/7b3d20b3-77c3-4cbd-a53d-dd7cf6c1db6c" # 2021
url4 = "https://www.data.gouv.fr/fr/datasets/r/289ada73-d850-48aa-ab95-2273643f7d46" # 2020
url5 = "https://www.data.gouv.fr/fr/datasets/r/6199e1e5-6495-424a-9ddc-67e9eb06ddd4" # 2019

In [16]:
# Load data from URLs
def load_data(url):
    response = requests.get(url)
    response.raise_for_status()  # Raise an exception for HTTP errors

    with zipfile.ZipFile(BytesIO(response.content)) as z:
        csv_filename = z.namelist()[0]
        with z.open(csv_filename) as csv_file:
            df = pd.read_csv(csv_file, sep='|', low_memory=False)
            df.dropna(axis=1, how='all', inplace=True)
            df = df.dropna(subset=['Code postal'])
            df['Code postal'] = df['Code postal'].astype(str)
            code_mask = df['Code postal'].isin(codes_postaux_metropole)
            df =df[code_mask]
            df_metropoleMP['year'] = df_metropoleMP['Date mutation'].dt.year
            return df
    
df0 = load_data(url0)
df1 = load_data(url1)
df2 = load_data(url2)
df3 = load_data(url3)
df4 = load_data(url4)
df5 = load_data(url5)

In [23]:
df0.head()

Empty DataFrame
Columns: [No disposition, Date mutation, Nature mutation, Valeur fonciere, No voie, B/T/Q, Type de voie, Code voie, Voie, Code postal, Commune, Code departement, Code commune, Prefixe de section, Section, No plan, No Volume, 1er lot, Surface Carrez du 1er lot, 2eme lot, Surface Carrez du 2eme lot, 3eme lot, Surface Carrez du 3eme lot, 4eme lot, Surface Carrez du 4eme lot, 5eme lot, Surface Carrez du 5eme lot, Nombre de lots, Code type local, Type local, Surface reelle bati, Nombre pieces principales, Nature culture, Nature culture speciale, Surface terrain]
Index: []

[0 rows x 35 columns]

In [18]:
df0.shape[0], df1.shape[0], df2.shape[0], df3.shape[0], df4.shape[0], df5.shape[0]

(0, 0, 0, 0, 0, 0)

In [19]:
df_combined = pd.concat([df0, df1, df2, df3, df4, df5], ignore_index=True)

In [22]:
df_combined.shape[0]

0

In [21]:
# 只保留特定欄位
columns_to_keep = [
    'Valeur fonciere',
    'Type local',
    'Surface reelle bati',
    'Nombre pieces principales',
    'Surface terrain',
    'Surface Carrez du 1er lot',
    'Code postal',
    'Commune',
    'Code departement',
    'Code commune',
    'Voie',
    'Type de voie',
    'Date mutation',
    'Nature mutation',
    'year'
]

# 過濾資料，只保留指定欄位
df_filtered = df_combined[columns_to_keep]

# 查看結果
print(df_filtered.head())

KeyError: "['year'] not in index"